<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WypozyczalniaBajek</title>
    <link rel="stylesheet" href="/cssmain.css"/>
</head>
<body>
<a href="/main"id="kontakt">
    <img src="/kontakt.jpg">
</a>
<div id="menu">
    <a href="/main">Main</a>
    <a href="/contact">Kontakt</a>
    <a href="/login">Zaloguj</a>
</div>
<div id="content">
    <p>Bajkowy Świat</p>
    <p>ul.Bajki 12</p>
    <p>25-308 Kielce</p>
    <p>tel.666-897-450</p>
    <p>email: bajkowyswiat@gmail.com</p>

</div>

</body>
</html>